/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.user-section {
    display: flex;
    align-items: center;
}

.profile-pic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.user-name-nav {
    margin-right: 15px;
}

.logout-button {
    padding: 5px 10px;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #282c34;
}

.users-button {
    background: none;
    color: white;
    border-color: white;
    border: 2px solid;
    margin-right: 2px;
    border-radius: 5px;
    padding: 5px 10px;
}
.hidden {
    display: none !important;
}